@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
    font-family: "Outfit", sans-serif;
}


/* ------post_api_testing------ start */
.post_api label {
    width: 20%;

}

.text_red {
    color: #E72929;
}




h1,
h2,
p,
ol {
    margin-bottom: 0;
}

/* -------asidebar-------  */

.bg_yellow {
    background: #FFAE00;
    padding-block: 10px;

}

.bg_grey {
    background-color: #3D464D;
}

.bg_green {
    background-color: #4AAF57;
}

.bg_red {
    background-color: #E72929;
}

.fs_9 {
    font-size: 9px;
}

.fs_12 {
    font-size: 12px;
}

.fs_30 {
    font-size: 30px;
}

.fs_14 {
    font-size: 14px;
}

.fs_16 {
    font-size: 16px;
}

.fs_18 {
    font-size: 18px;
}

.fs_20 {
    font-size: 20px;
}


.hover_effect {
    border-radius: 20px 0 0 20px;
    transition: 500ms;
    width: 100% !important;
}

.hover_effect:hover {
    background-color: #26313A;
}

.hover_effect:hover svg path {
    color: #FFAE00;
    fill: #FFAE00;


}

.hover_effect:hover p {
    color: #FFAE00 !important;
}

.accordion {
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-bg: none;
}

.accordion-button {
    padding: 0;

}

.accordion-item {

    background-color: none;
    border: none;
    --bs-accordion-active-bg: #26313A;
}

.accordion-body {
    padding: 0;
    background-color: #26313A;
    color: white;
}

.accordion-button::after {
    background-image: url(./assets/images/svg/arrow.svg);
    position: absolute;
    right: 5%;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(./assets/images/svg/arrow.svg);
    transform: var(--bs-accordion-btn-icon-transform);
}

/* -------navbar-----  */
.bg_blueish {
    background-color: #EBEDF0;
}

::placeholder {
    font-size: 12px;
    opacity: 0.3;
}

input[type=search]:focus {
    outline: none;
}

/* -----dashboard--- content-----  */
/* .bg_sky {
    background-color: #F5F7FA;
} */
body {
    background-color: #F5F7FA;
}

.p_20 {
    padding: 20px;
}

.p_10 {
    padding: 10px;
}

.ps_20 {
    padding-left: 20px;
}

.py_12 {
    padding-block: 12px;
}

.px_10 {
    padding-inline: 10px;
}

.py_10 {
    padding-block: 10px;
}

.px_15 {
    padding-inline: 15px;
}



.w_33 {
    width: 33.33%;
}

.lh_38 {
    line-height: 38px;
}

.mt_20 {
    margin-top: 20px;
}

.mb_20 {
    margin-bottom: 20px;
}

.mb_10 {
    margin-bottom: 10px;
}

.ms_10 {
    margin-left: 10px;
}

.my_10 {
    margin-block: 10px;
}

.box_shadow {
    box-shadow: 0px 1px 3px 0px #00000033;
}

.recent_trans tr:nth-child(even) {
    background-color: #F9F9F9;
}

.border_bottom th {
    border-bottom: 1px solid #0000003D;
}

.recent_regi th,
.recent_regi td {
    padding-block: 16px;
}

.dash_height {
    height: calc(100vh - 64px);
}

/* ------user page css ------  */
.border_btm th {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 17px;
}

.border_bottom td {
    padding-block: 27px;

}

.popup_shadow {

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.dropdown-toggle::after {
    display: none;
}

.action_popup .btn {
    padding: 0;
    --bs-btn-border-width: none;
}

.action_popup .dropdown-menu {
    --bs-dropdown-min-width: 120px;
    --bs-dropdown-padding-y: 0;
    --bs-dropdown-border-width: none;
    transform: translate3d(-32px, 36.5px, 11px) !important;
}

/* delete_confirm_popup--------  */
.delete_confirm_popup {
    width: 236px;
    border-radius: 10px;
    padding: 10px;
}

.bg_black_40 {
    background-color: rgba(0, 0, 0, 0.6);
}

/* add user css --------  */
.Rest_btn {

    background: linear-gradient(90deg, #8A2387 0%, #E94057 49.43%, #F27121 105.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    /* text-fill-color: transparent; */
}

.linear_border {
    display: inline-block;
    background-color: #F5F7FA;
    position: relative;
    border-radius: 10px;
    padding: 12px 24px;
}

.linear_border::after {
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(90deg, #8A2387 0%, #E94057 49.43%, #F27121 105.44%);
    z-index: -1;
    border-radius: 12px;

}

.reset_button {
    padding: 16px 15px;
    border-radius: 12px;
    margin-left: 20px;
}

.add_user_form input {
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    
}
.add_user_form input:focus{
    outline: none;
}


.add_user_form label {
    margin-top: 20px;
}

.add_user_form ::placeholder {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
}